{% if cart is not defined %}
	{% set cart = craft.commerce.carts.cart %}
{% endif %}

{% if not (order ?? null) and not cart.hasLineItems %}
	{% redirect siteUrl(parseEnv(cartUrl)) %}
{% endif %}

<!DOCTYPE html>
<html class="antialiased scroll-smooth h-full bg-white" lang="{{ currentSite.language }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="referrer" content="origin-when-cross-origin" />
		
		<style>
			[hidden] { display: none; }
		</style>
		{# <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script> #}
		<script src="https://unpkg.com/@popperjs/core@2" data-cookieconsent="ignore"></script>
		<script src="https://unpkg.com/tippy.js@6" data-cookieconsent="ignore"></script>
		<script defer src="https://unpkg.com/@colinaut/alpinejs-plugin-simple-validate@1/dist/alpine.validate.min.js" data-cookieconsent="ignore"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js" data-cookieconsent="ignore"></script>
		<script data-cookieconsent="ignore">
			document.addEventListener('alpine:init', () => {
				// Directive: x-tooltip
				Alpine.directive('tooltip', (el, { expression }) => {
					tippy(el, { content: expression, offset: [0, -5] })
				})
			})
		</script>
		<style>
			.bg-brand, 
			[type=submit].bg-brand { 
				--tw-bg-opacity: 1;
				background-color: rgb({{ brandColor.getRed() }} {{ brandColor.getGreen() }} {{ brandColor.getBlue() }} / var(--tw-bg-opacity));
			}
			.text-brand, 
			[type='checkbox'].text-brand, 
			[type='radio'].text-brand {
				--tw-text-opacity: 1;
				color: rgb({{ brandColor.getRed() }} {{ brandColor.getGreen() }} {{ brandColor.getBlue() }} / var(--tw-text-opacity));
			}
			.ring-brand {
				--tw-ring-opacity: 1;
				--tw-ring-color: rgb({{ brandColor.getRed() }} {{ brandColor.getGreen() }} {{ brandColor.getBlue() }} / var(--tw-ring-opacity));
			}
			.focus-within\:ring-brand:focus-within, 
			.focus\:ring-brand:focus, 
			[type='checkbox'].focus-within\:ring-brand:focus-within, 
			[type='checkbox'].focus\:ring-brand:focus, 
			[type='radio'].focus-within\:ring-brand:focus-within, 
			[type='radio'].focus\:ring-brand:focus {
				--tw-ring-opacity: 1;
				--tw-ring-color: rgb({{ brandColor.getRed() }} {{ brandColor.getGreen() }} {{ brandColor.getBlue() }} / var(--tw-ring-opacity));
			}
		</style>

	</head>
	<body class="min-h-full {% if step != 'confirmation' %}lg:bg-gradient-to-r lg:from-white lg:from-60% lg:to-gray-50 lg:to-60%{% endif %}">
		
		
		{# checkout notifications #}
		{% if notification ?? notifications.checkoutNotification ?? null %}
		<div class="bg-brand {{ parseEnv(buttonText) ? 'text-white' : 'text-black' }} px-6 py-4 text-sm">
			<div class="flex justify-center max-w-7xl mx-auto">
			{{ notification ?? 'Notification message' }}
			</div>
		</div>
		{% endif %}
		
		<div class="bg-white min-h-screen max-w-7xl mx-auto">

		  <main class="lg:flex lg:min-h-screen lg:flex-row-reverse">
			<div class="px-4 py-6 lg:px-6 lg:hidden">
			  <div class="mx-auto flex justify-between items-end max-w-lg">
				<div class="inline-flex"><a href="{{ siteUrl }}">
				  <span class="sr-only">{{ siteName }}</span>
				  <img src="{{ parseEnv(logoUrl) }}" alt="" class="h-8 w-auto">
				</a></div>
				{# {% if step != 'confirmation' %}
				<p class="lg:hidden text-sm">Step 2 of 4</p>
				{% endif %} #}
			  </div>
			</div>
		
			{% if step != 'confirmation' %}
				<h1 class="sr-only">Checkout</h1>
				
				{{ include('checkout/includes/summary') }}
			{% endif %}
		
			<!-- Checkout form -->
			<section aria-labelledby="payment-heading" class="flex-auto flex flex-col overflow-y-auto px-4 pb-4 pt-12 lg:px-8 lg:pt-0">
			  <div class="mx-auto w-full {{ step == 'confirmation' ? 'max-w-3xl' : 'max-w-xl' }} flex-1 flex flex-col">
				<div class="hidden pb-16 pt-10 lg:flex flex-col">
				  <div class="inline-flex">
				  <a href="{{ siteUrl }}">
					<span class="sr-only">{{ siteName }}</span>
					<img src="{{ parseEnv(logoUrl) }}" alt="" class="h-8 w-auto">
				  </a>
				  </div>
				  
				  {% set step = step ?? 'info' %}
				  {% set completed = true %}
				  {% set steps = [
				  	{
					  handle: 'cart',
					  label: 'Cart',
					  url: siteUrl('shop/cart')
					},
					{
					  handle: 'info',
					  label: 'Information',
					  url: siteUrl('checkout')
					},
					{
					  handle: 'shipping',
					  label: 'Shipping',
					  url: siteUrl('checkout/shipping')
					},
					{
					  handle: 'payment',
					  label: 'Payment',
					  url: siteUrl('checkout/payment')
					},
					{
					  handle: 'confirmation',
					  label: 'Confirmation',
					  url: siteUrl('checkout/confirmation')
					}
				  ] %}
				  <nav aria-label="Progress" class="block mt-6 pt-4 border-t border-gray-200">
					{% if step != 'confirmation' %}
					<ol role="list" class="flex space-x-1 text-xs">
					{% for item in steps %}
					  <li class="flex items-center text-gray-500">
						<a {% if completed %}href="{{ item.url }}"{% endif %} {% if step == item.handle %}aria-current="page" class="text-black" {% endif %}>{{ item.label }}</a>
						{% if not loop.last %}
						<svg class="ml-1 h-5 w-5 text-gray-400" aria-hidden="true" viewBox="0 0 20 20" fill="currentColor">
						  <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
						</svg>
						{% endif %}
					  </li>
					  
					  {% if item.handle == step %}
						  {% set completed = false %}
					  {% endif %}
					 {% endfor %}
					</ol>
					{% endif %}
				  </nav>
				</div>
				
				
				{# error messages #}
				{% set flashNotice = craft.app.session.getFlash('notice') %}
				{% set flashError = craft.app.session.getFlash('error') %}
				
				{# {% if flashNotice %}
					<div class="border border-green-500 rounded-md text-green-500 px-6 py-4 text-sm mb-6">
						{{ flashNotice ?? 'Test flash notice' }}
					</div>
				  {% endif %} #}
				
				  {% if flashError %}
					<div class="border border-red-500 rounded-md text-red-500 px-6 py-4 text-sm mb-6">
						{{ flashError ?? 'Test flash error' }}
					</div>
				  {% endif %}
				  
				  
					{% if cart and cart.errors|length %}
					  <div class="border border-red-500 rounded-md text-red-500 px-6 py-4 text-sm mb-6">
						  {% for attribute, errors in cart.errors %}
							{% if loop.first %}<ul>{% endif %}
							{% for key, error in errors %}
							  <li>{{ attribute }}: {{ error }}</li>
							{% endfor %}
							{% if loop.last %}</ul>{% endif %}
						  {% endfor %}
					  </div>
					{% endif %}
		
				
				{% block content %}{% endblock %}
				

				<div class="flex-1 flex items-end w-full">
				<div class="mt-20 border-t border-gray-200 py-4 flex gap-4 text-xs w-full">
					{% for policy in policies %}
					  <a href="{{ policy.url }}" class="text-gray-600 hover:text-black">{{ policy.title }}</a>
					{% endfor %}
				  </div>
				</div>
			  </div>
			  
			  
			</section>
			
			
		  </main>
		
		  </div>
		
		{{ raw(scripts ?? '') }}
		
	</body>
</html>