{% set fieldName = (name)|namespaceInputName(namespace ?? null) %}
{% set id = (id ?? name)|namespaceInputId(namespace ?? null) %}

<div>
	<div class="relative rounded-md px-3 pb-1.5 pt-5 bg-white ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-brand data-[error]:ring-red-500 group">
		  <input type="text" name="{{ fieldName }}" value="{{ value ?? null }}" id="{{ id }}" class="peer block w-full border-0 p-0 text-gray-900 placeholder:text-transparent focus:ring-0 sm:leading-6" placeholder="" {{ required ?? false ? 'required' }} {% for attr in (attrs ?? []) %}{{ attr|raw }}{% endfor %}>
		  <label for="{{ id }}" class="absolute left-0 right-0 px-3 top-2 block text-xs text-gray-600 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-3 peer-focus:text-xs peer-focus:text-gray-600 peer-focus:top-2 duration-200 ease-in-out cursor-text">{{ label ?? name }}</label>
		  
		{% if tip ?? false %}
		<div class="absolute inset-y-0 right-0 flex items-center px-3"
			x-data
			x-tooltip="{{ tip }}"
		>
		  <svg class="h-6 w-6 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
			  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
			</svg>
		</div>
		{% elseif required ?? null %}
		<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
		  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-red-600 hidden group-data-[error]:block">
			<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
		  </svg>
		  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4  text-gray-400 group-data-[error]:hidden">
			<path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
		  </svg>

		</div>
		{% endif %}
	</div>
	<p class="mt-1 text-sm text-red-600" id="error-msg-{{ fieldName }}" hidden>{{ error ?? 'Required' }}</p>
</div>